<div class="container">
    <ol class="breadcrumb">
        <li class="active">警报</li>
    </ol>
    <div class="row">
        <div class="col-md-12">
            <p>
                <a href="/alerts/new" class="btn btn-default"><i class="fa fa-plus"></i>新增警报</a>
            </p>

            <smart-table rows="alerts" columns="gridColumns"
                         config="gridConfig"
                         class="table table-condensed table-hover"></smart-table>
        </div>
    </div>
</div>